site_name: 哈基网
site_url: https://HajiWeb.jayi0908.top
copyright: Copyright &copy; 2025-? jayi0908

theme:
  name: material
  custom_dir: overrides
  language: 'zh'
  icon:
    top: material/arrow-up-thin
  logo: icons/eihei.png
  favicon: icons/favicon.ico
  features:
    - navigation.tabs # 顶部显示导航顶层nav（也就是第一个节点）
    - navigation.tabs.sticky # 滚动是隐藏顶部nav，需要配合navigation.tabs使用
    - navigation.sections # 允许章节导航
    - navigation.path # 允许路径导航(形如 Home > Details)
    - navigation.top # 允许返回顶部
    - navigation.footer # 允许页脚导航
    - navigation.prune # 侧边栏自动折叠
    - navigation.tracking # 在url中使用标题定位锚点
    - toc.follow # toc 跟随
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent:  teal
      toggle:
        icon: material/brightness-4
        name: 切换至日间模式
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/brightness-7
        name: 切换至夜间模式

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true # 允许使用通用的数学公式
  - attr_list
  - md_in_html
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  # - statistics:
      # words_per_minute: 200
  # - search: 
  #     lang: [zh, en]
  #     separator: '[\s\u200b\-]'
  #     jieba_dict:  # 自定义中文分词词典
  - minify:
      minify_html: true

extra:
  generator: false

extra_css:
  - ./assets/css/custom.css
#   # - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css

extra_javascript:
  - ./assets/javascripts/font-loader.js 